*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
.idea/gradle.xml
.idea/deploymentTargetSelector.xml
/.idea/*.xml
/.idea/**/**.xml
.DS_Store
/build
/captures
/photosaver/build
.externalNativeBuild
.cxx
local.properties
app/release
app/.idea
